.App {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1{
  text-align: center;
  padding: 60px;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

table {
	border: 2px solid rgb(34, 139, 111);
	width: 800px;
	height: 200px;
  margin-left: auto;
  margin-right: auto;

}

th {
	border-bottom: 1px solid black;
}

td {
	text-align: center;
}

/* מרכז את הכפתורים */
.pagination {
    text-align: center;
    margin-top: 20px;
}

/* עיצוב הכפתורים */
.pagination-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #1abc9c;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
}


.pagination-button:disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
}